<div class="block-product">
  <div class="block-category">
    <h3>Category</h3>
    <div class="list-category">
      <% @categories.map do |cate| %>
        <ul>
          <li><a href="#"><%= link_to cate.name, category_path(cate.id) %></a></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="container" id="content">
    <h3>Sản phẩm mới</h3>
    <div class="row">
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/08/nho-den-khong-hat-my-300x300.png" style="padding-right: 17px;">
                <h8>Nho đen không hạt</h8>
              </a>
              <span>250.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/08/nho-do-ba-moi-phan-rang-300x300.png" style="padding-right: 17px;">
                <h8>Nho đỏ Phan Răng</h8>
              </a>
              <span>60.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/09/dua-luoi-taki-nhat-ban-300x300.png" style="padding-right: 17px;">
                <h8>Dừa lưới taki Nhập Bản</h8>
              </a>
              <span>85.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/09/tao-xanh-ninh-thuan-300x300.png" style="padding-right: 17px;">
                <h8>Táo xanh Ninh Thuận</h8>
              </a>
              <span>50.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/08/nho-den-khong-hat-my-300x300.png" style="padding-right: 17px;">
                <h8>Nho đen không hạt</h8>
              </a>
              <span>250.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/08/nho-do-ba-moi-phan-rang-300x300.png" style="padding-right: 17px;">
                <h8>Nho đỏ Phan Răng</h8>
              </a>
              <span>60.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/09/dua-luoi-taki-nhat-ban-300x300.png" style="padding-right: 17px;">
                <h8>Dừa lưới taki Nhập Bản</h8>
              </a>
              <span>85.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mgt-20">
        <div class="col-inner" id="navproduct">
          <ul class="products">
            <li>
              <a href="#" class="product_link">
                <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/09/tao-xanh-ninh-thuan-300x300.png" style="padding-right: 17px;">
                <h8>Táo xanh Ninh Thuận</h8>
              </a>
              <span>50.000đ/kg</span>
              <a href="#" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
