<div class="block-product">
  <div class="block-category">
    <h3>Category</h3>
    <div class="list-category">
      <% @categories.map do |cate| %>
        <ul>
          <li><%= link_to cate.name, category_path(cate.id) %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="container" id="content">
    <h3>Sản phẩm mới</h3>
    <div class="row">
      <% @products.map do |product| %>
        <div class="col-lg-3 col-sm-6 mgt-20">
          <div class="col-inner" id="navproduct">
            <ul class="products">
              <li>
                <a href="#" class="product_link">
                  <img width="240" height="258" src="https://www.viettropfruit.com/wp-content/uploads/2016/08/nho-den-khong-hat-my-300x300.png" style="padding-right: 17px;">
                  <h8><%= product.name %></h8>
                </a>
                <span><%= product.price %>đ/kg</span>
                <a href="#" class="icon">
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
